#fokeret{
    
}

#navbar img{
    width: 50px;
    padding: 2px;
}
#navbar li{
    list-style: none;
}
#also_navbar{
    font-size: 16px;
    border-bottom: black 1px solid;
    height: 30px;
    align-content: center;
    font-weight: bold;
}


#tartalom{
    width: 90%;
    padding-top: 30px;
}
#tartalom h1{
    font-size: 300%;
}
#tartalom p, #tartalom h1{
    padding: 0px 50px;
}
#tartalom img{
    padding-bottom: 30px;
    width: 75%;
    margin: auto;
}
#szoveg{
    font-size: 120%;
}
#szerzo{
    padding: 15px 0px;
}


#kapcs{
    width: 90%;
    padding: 12px 0px;
}
#hirek{
    margin: 25px 0px;
}

#tobb{
    width: 90%;
    padding: 12px 0px;
}
#tobb img{
    width: 520px;
}
#tobb1{
    height: max-content;
}
#tobb1_l{
    align-content: center;
}
#tobb1_r img{
    padding-right: 220px;
}