#navbar img{
    width: 50px;
    padding: 2px;
}
#navbar li{
    list-style: none;
}
#also_navbar{
    font-size: 16px;
    border-bottom: black 1px solid;
    height: 30px;
    align-content: center;
    font-weight: bold;
}


#tartalom{
    width: 90%;
    padding-top: 30px;
}
#tartalom h1{
    font-size: 300%;
}
#tartalom p, #tartalom h1{
    padding: 0px 50px;
}
#fokep{
    padding-bottom: 30px;
    width: 85%;
    margin: auto;
}
#szoveg{
    font-size: 120%;
}
#szerzo{
    padding: 15px 0px;
}


#kapcs{
    width: 90%;
    padding: 12px 0px;
}
#hirek{
    margin: 25px 0px;
}

#tobb{
    width: 90%;
    padding: 12px 0px;
}
#tobb img{
    width: 100%;
}
#tobb1{
    height: max-content;
    margin: 15px 0px;
}
#tobb1_l, #tobb1_r, #ido{
    align-content: center;
}

h1,h2,h3,h4,h5{
    word-wrap: break-word;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    
}